
.hltbTable th{
    text-align: left;
    font-size: 14px;
    width: fit-content;
}
.hltbTable td{
    width: fit-content;
    text-align: right;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.hltbTable span{
    color: #FDC500;
    font-size: 15px;
}